.banner11-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
.banner11-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner11-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner11-link {
  text-decoration: none;
}
.banner11-fragment1 {
  display: contents;
}
.banner11-text3 {
  display: inline-block;
  text-align: center;
}
.banner11-fragment2 {
  display: contents;
}
.banner11-text4 {
  display: inline-block;
}
.banner11-fragment3 {
  display: contents;
}
.banner11-text5 {
  display: inline-block;
  text-align: center;
}
